<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
				<key>CFBundleInfoDictionaryVersion</key>
				<string>6.0</string>
				<key>CFBundleName</key>
				<string>libtasn1</string>
        <key>CFBundleExecutable</key>
        <string>libtasn1.dylib</string>
        <key>CFBundleIdentifier</key>
        <string>com.example.libtasn1</string>
        <key>CFBundleVersion</key>
        <string>1.0</string>
        <key>CFBundleShortVersionString</key>
        <string>1.0</string>
        <key>CFBundleName</key>
        <string>libtasn1</string>
        <key>CFBundlePackageType</key>
        <string>FMWK</string>
        <key>DTPlatformName</key>
				<string>iphonesimulator</string>
				<key>CFBundleShortVersionString</key>
				<string>1.0</string>
				<key>CFBundleSupportedPlatforms</key>
				<array>
					<string>iPhoneSimulator</string>
				</array>
</dict>
</plist>
